{% extends 'layouts/base.html' %}

{% set page_title = 'Web Calendar' %}

{% block container %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/calendar.min.css') }}">

<div class="container">
	<div class="page-header">
		<div class="pull-right form-inline">
			<div class="btn-group">
				<button class="btn" data-calendar-nav="today">Today</button>
				<button class="btn btn-info" data-calendar-nav="next">Next >></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-inverse" data-calendar-view="year">Year</button>
				<button class="btn btn-inverse active" data-calendar-view="month">Month</button>
			</div>
		</div>

		<h3></h3>
	</div>
    <div id="calendar">
    </div>
</div>
{% endblock %}

{% block js_user %}
<script src="{{ url_for('static', filename='js/calendar-app-init.js') }}"></script>
{% endblock %}
